*                       {
    box-sizing: border-box
}




body { 
     rgba: (245, 61, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}


   


header{
    width: 1000px;
    height: 100px;
    background-color: cadetblue;
    border: 3px solid #333;
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
    width: 200;
       text-shadow: 4px 4px 8px rgba(29, 2, 2);
  
   

}
h1{
   margin-left:  200px;
    align-items: center;  
 
}

.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;

}

.elemento{
    flex: 1 0 auto;
    margin: 0 50px;
    width: 500;
    height:  500;  

    
}

.elemento:hover{
    transform: scale(1.5);
    transition: all 0.8s ease;
}
.real{
     display: flex;
     padding: 20px;
    align-items: center;

}

.real{
    flex-direction: row;
}
.real {
    background-color: antiquewhite;
    border: 3px solid #333;
}

.real{
    width: 9000px;
    heigh: 100px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    


}



.real img {
    width: 300px;
    height: auto;
    transition: .3s ease;
    cursor: pointer;

}
img:hover{
    transform: scale (1.1);

}
.real img {
    margin-top: 50px;
    margin-left: 20px;

}

